html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fffff5;\
	font-family: Arial;
}

#wrap {
	width: 70%;
	margin: 0 auto;
	background-color: #606d39;
}

header {
	background-color: #8586ae;
	text-align: center;
}

header img {
	width: 30%;
	
}

nav {
	background-color: #ae6434;
	text-align: center;
	padding: 10px 0;
	font-family: Verdana;
}

nav a {
	color: white;
	padding: 10px 10px;
	text-decoration: none;
}

nav a:hover {
	color: #f59d00;
	background-color: #19a5a0;
}

nav li {
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0;
}

section {
	padding: 10px 20px;
	overflow: auto;
	background-color: #373536;
	color: #f8ce9f;
}

section h1 {
	color: #f8ce9f;
	font-size: 250%;
	margin: 0;
}

.doof {
	width: 30%;
	float: right;
}

.button {
	background-color: red;
	color: black;
	text-decoration: none;
	margin: 15px 0;
	padding: 10px;
	display: inline-block;
	border-radius: 8px;
}

a.button:hover {
	background-color: darkred;
}

footer {
	background-color: #606d39;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 10px 0;
}