html, body {
	margin: 0;
	padding: 0;
}

body {
	!!
}

#wrap {
	width: 70%;
	margin: 0 auto;
}

header {
	text-align: center;
	font-size: 46pt;
}

nav {
	text-align: center;
	font-size: 23pt;
}

section {
	text-align: center;
}

footer {
	!!
}